[package]
name = "matizaj-mini-grep"
description = "learning project mimic grep functionality"
license = "MIT"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3

[dependencies]
